/* Ensure the page takes full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Main container */
.zerocodeml-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("D:\OneDrive\Documents\GitHub\ZeroCodeML\public\img\bg1.png") no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  position: relative;
}

/* Centering Container */
.zerocodeml-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form Card */
.zerocodeml-form-card {
  background: white;
  border-radius: 12px;
  padding: 80px;
  margin-bottom: 50px;
  margin-left: 480px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Form Title */
.zerocodeml-form-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  padding: 30px;
  width: auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Upload Button */
.zerocodeml-upload-section {
  margin-top: 20px;
}

.zerocodeml-upload-button {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.zerocodeml-upload-button:hover {
  background: linear-gradient(to right, #0056b3, #003f7f);
}

/* Error Message */
.zerocodeml-error-text {
  color: red;
  margin-top: 10px;
}

/* Success Message Card */
.zerocodeml-success-card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Styling for the Success Message */
.zerocodeml-success-message {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

/* File Name Styling */
.zerocodeml-file-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* EDA Summary Button */
.zerocodeml-eda-button {
  background: linear-gradient(to right, #0056b3, #003f7f);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.zerocodeml-eda-button:hover {
  background: linear-gradient(to right, #218838, #19692c);
}